@{
    ViewBag.Title = "Home Page";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
<script src="~/Scripts/MyApp.js"></script>

<div class="jumbotron">
    <toaster-container></toaster-container>
    <h1>Medals in LoL</h1>
    <input type="text" id="nombre_invocador" placeholder="Nombre de invocador" ng-model="User.invocador"/>
    <select ng-model="server" required="required"
            ng-options="server as server.label for server in servers"></select>
    @*   @Html.DropDownList("server", null, htmlAttributes: new { @class = "form-control", @ng_model = "User.server" , @ng_options = "server  as product.label for product in products" })*@
    <input type="button" id="enviar" ng-click="GetDatosInvocador(server.label,User.invocador)" value="Enviar"/>
   @* <input type="button" id="enviar" ng-click="GetNotificacions(User.invocador)" value="Enviar" /> TODO: CREAR SISTEMA DE REGISTRO *@
</div>

<div class="row">
    <div class="spinner" ng-show="loading">
        <img id="mySpinner" src="/images/loading/spinner.gif"/>
    </div>
    
    <div class="col-md-12"id="resultados" ng-hide="loading || noencontrado">
        <h2 id="nick">{{Medallas.nick}} </h2>
       <h3 id="partidas_jugadas" ng-if="Medallas">Has jugado {{Medallas.lastindexgame}} partidas clásificatorias </h3>
        <div ng-if="Medallas.doble_doble">
            TIENES UN DOBLE DOBLE
        </div>
        <div ng-if="Medallas.doble_doble==false && Medallas">
          NO TIENES UN DOBLE DOBLE
        </div>
        <div ng-if="Medallas.pentakill">
         TIENES UNA PENTAKILL
        </div>
        <div ng-if="Medallas.division =='Bronze'">
            <img src="~/images/tier/bronze.png"/>
        </div>

        <div ng-if="Medallas.division =='Silver'">
            <img src="~/images/tier/silver.png" />
        </div>

        <div ng-if="Medallas.division =='Gold'">
            <img src="~/images/tier/gold.png"/>
        </div>
        <div ng-if="Medallas.division =='Platinum'">
            <img src="~/images/tier/platinum.png"/>
        </div>

        <div ng-if="Medallas.division =='Diamond'">
            <img src="~/images/tier/diamond.png" />
        </div>
        
    </div>
    <div class="spinner" ng-show="noencontrado">
        No encontrado
    </div>
</div>

<script type="text/javascript">
    $("#nombre_invocador").keypress(function (event) {
        if (event.which == 13) {
            $("#enviar").click();
            return false;
        }
    });
    //$('#loadingDiv')
    //    .hide();  // Hide it initially
  
    //$('#enviar').click(function (e){
    //    e.preventDefault(); // <------------------ stop default behaviour of button
    //    var element = this;
    //    var server = $('#server').find("option:selected").text();
    //        var nombre = $('#nombre_invocador').val();
    //    $.ajax({
    //            url: "/Home/GetDatos",
    //            type: "POST",
    //            data: JSON.stringify({ 'server': server, 'nombre': nombre }),
    //            dataType: "json",
    //            traditional: true,
    //            contentType: "application/json; charset=utf-8",
    //            beforeSend: function() {
    //                $('#loadingDiv').show();
    //            }
    //        })
    //        .done(function(data, textStatus, jqXHR) {
    //            if (textStatus == "success") {
    //                //       alert("Done");
    //                $('#nick').html(data.nick);
    //                if (data.division == '"BRONZE"') {
    //                    $('#division').html("<img src='/images/tier/bronze.png'/>");
    //                }
                    
    //            } else {
    //                alert("Error occurs on the Database level!");
    //            }
    //        })
    //        .fail(function(jqXHR, textStatus, err) {
    //            alert("An error has occured!!!");
    //        })
    //        .complete(function() {
    //            $('#loadingDiv').hide();
    //        });


    //});
   
</script>